# Logs
logs
*.log

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Built files
dist/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env

# Editor specific configuration
.vscode/*
!.vscode/settings.json